<section class="categories spad">
    <div class="container">
        <div class="row">
            {{#widget name="category"}}
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>{{ widget.settings.title_1 }}
                        <br /> <span>{{ widget.settings.title_2 }}</span>
                        <br /> {{ widget.settings.title_3 }}
                    </h2>
                </div>
            </div>
            {{/widget}}

            {{#widget name="item"}}
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="{{ widget.settings.image }}" alt="">
                    <div class="hot__deal__sticker">
                        <span>{{widget.settings.sale_tag}}</span>
                        <h5>{{ widget.settings.discount }}</h5>
                    </div>
                </div>
            </div>
            {{/widget}}

            {{#widget name="timer"}}
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>{{ widget.settings.title }}</span>
                    <h2>{{ widget.settings.heading }}</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">{{ widget.settings.button_text }}</a>
                </div>
            </div>

            <script type="text/javascript">
                var timerdate = "{{ widget.settings.date }}";
                $("#countdown").countdown(timerdate, function (event) {
                    $(this).html(event.strftime("<div class='cd-item'><span>%D</span> <p>Days</p> </div>" + "<div class='cd-item'><span>%H</span> <p>Hours</p> </div>" + "<div class='cd-item'><span>%M</span> <p>Minutes</p> </div>" + "<div class='cd-item'><span>%S</span> <p>Seconds</p> </div>"));
                });
            </script>
            {{/widget}}
        </div>
    </div>
</section>